apiVersion: v1
kind: Service
metadata:
  name: flask-hls-app-service
  annotations:
    cloud.google.com/load-balancer-type: "External"
spec:
  type: LoadBalancer
  selector:
    app: flask-hls-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000